<center><font size="+4">Introduction to Programming and Machine Learning in Python 2020/2021</font></center>
<center><font size="+4">Module 2</font></center>
<center><font size="+2">Scuola Normale Superiore, Pisa, Italy</font></center>

<center><font size="+2">Course responsibles</font></center>
<center><font size="+2">Andrea Vandin a.vandin@santannapisa.it</font></center>
<center><font size="+2">Daniele Licari d.licari@santannapisa.it</font></center>

---

<center><font size="+4">Lectures 1 & 2: Advanced Libraries for</font></center>
<center><font size="+4">data manipulation/visualization</font></center>
<center><font size="+2">Exploratory Data Analysis on the Titanic dataset</font></center>

# Titanic dataset
The ship Titanic sank in 1912 with the loss of most of its passengers.  Details can be obtained on 1309 passengers and crew on board the ship Titanic. 

For each passenger, 14 attributes and 1 target variable on the survival of the passenger are provided. 
In this project, we aim to analyze this dataset in order to obtain a classifier able to predict the survival probability of a hypotethical passenger.

| Variable name   |      	Variable label      |  Data type |	Value labels |
|-|-|-|-|
|survived|  Died/Survived (Target) | Nominal (String)	|  "Died", "Survived" 
|pclass|	Class	| Ordinal (Number)|	1 = 1st, 2= 2nd, 3 = 3rd||
|Residence | Country of Residence	| Nominal (String)	|  "American", "British","Other" |
|name	|	Name |String||
|age	|	Age |Number||	
|sibsp|	Number of siblings/ spouses|	 Number ||
|parch|Number of parents/ children on board|	 Number ||	
|Ticket|	Ticket number|	String||
|fare|	Price of ticket| Number	||
|Cabin|	Cabin number|	String||
|Embarked|Where passenger embarked|	Nominal (String)||
|Boat|	Boat identification (if rescued)|	String||
|Body|	Body number (if died)|	String||
|Home.dest|	Home town|	String	||
|Gender|	Gender|	 Nominal (String)	|	"Male", "Female"|

Embarked is port of embarkation and it is a categorical feature which has 3 unique values (C, Q or S):
C = Cherbourg
Q = Queenstown
S = Southampton

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns # we will see in the next lesson
import matplotlib.pyplot as plt

In [ ]:
titanic_data = pd.read_csv('https://github.com/EMbeDS-education/SNS-IProML2021/raw/main/datasets/TITANIC.csv')
titanic_data.head()

   pclass  survived Residence  ...   body               home.dest  Gender
0       3      Died  American  ...    NaN                     NaN    Male
1       3      Died  American  ...    NaN     East Providence, RI    Male
2       3      Died  American  ...  190.0     East Providence, RI    Male
3       3  Survived  American  ...    NaN     East Providence, RI  Female
4       3  Survived     Other  ...    NaN  Norway Los Angeles, CA  Female

[5 rows x 15 columns]

# Exploratory Data Analysis
The task of Data Processing can be generally defined as "the collection and manipulation of items of data to produce meaningful information"[wiki]

## Outline
* Check total number of entries and column types;
* Check duplicate entries; 
* Check for any null values (and try to handle them)
* Plot distribution of numeric data 
* Who were the passengers on the Titanic? (i.e., Age, Gender, Class etc.)
* Who was alone and who was with family?
* What factors helped someone survived the sinking ?